header{
  position: fixed;
  width: 100vw;
  height: 7vh;
  left: 0;
  top: 0;
  background-color: #EFF7FF;
  border-bottom: 1px solid #30659B;
}

header img {
  width: 6vw;
  height: 7vh;
  float: left;
}

header div {
  line-height: 7vh;
  font-size: 4vh;
  float: left;
}

header button {
  height: 3vh;
  font-size: 2vh;
  margin: 2vh 1vw 2vh 1vw;
}

header input {
  margin: 2vh 1vw 2vh 1vw;
}

header select {
  margin: 2vh 1vw 2vh 1vw;
}
